# environemt and packaging
.venv
.env
node_modules
package.json
package-lock.json

# profiling data
.codspeed
perf
**.prof


# build data
build/
_build/
docs/_build
**.egg-info
dist/

*.pyc
**__pycache__
**.pytest_cache

# others
foo.py
bar.py
baz.py

foo.md
bar.md
baz.md
