site_name: My Docs

plugins:
  - mkdocs_plugin:
  - search:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_annotations: false
            separate_signature: true
            signature_crossrefs: true
            # merge_init_into_class: true
            parameter_headings: true
            # show_root_heading: false

theme: 
  name: material
  palette: 
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    # - scheme: default
    #   primary: white
    #   accent: teal
    #   toggle:
    #     icon: material/brightness-7 
    #     name: Switch to dark mode

